In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt
import seaborn as sns
from sklearn.model_selection import cross_validate

%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
train_tmp = pd.read_csv('/Users/siang/Documents/107-1/資料科學實務/Final_Project/train_tmp.csv', 
                        sep=',', encoding = 'utf8', dtype={'order_id':object, 'group_id':object})

In [2]:
test = pd.read_csv('/Users/siang/Documents/107-1/資料科學實務/Final_Project/testing.csv',
                     sep=',',encoding = 'utf8', dtype={'order_id':object, 'group_id':object})

In [4]:
test.isna().sum()

order_id               0
group_id               0
area                   0
sub_line               0
deal_or_not            0
source_1               0
source_2               0
unit                   0
people_amount          0
group_amount           0
group_days             0
group_price            0
group_order_heat       0
wait_duration          0
order_date_weekday     0
order_date_weekend     0
begin_date_weekday     0
begin_date_weekend     0
sub_line_heat          0
area_heat              0
go_n                  68
back_n                94
goback_n              68
group_site_sum         5
group_site_ave         5
unit_group_count       0
dtype: int64

In [5]:
print(test.order_id.count())
test = test.dropna()
print(test.order_id.count())

29703
29605

test為空值有98筆

In [6]:
train_tmp.isna().sum()

order_id                0
group_id                0
area                    0
sub_line                0
deal_or_not             0
source_1                0
source_2                0
unit                    0
people_amount           0
group_amount            0
group_days              0
group_price             0
group_order_heat        0
wait_duration           0
order_date_weekday      0
order_date_weekend      0
begin_date_weekday      0
begin_date_weekend      0
sub_line_heat           0
area_heat               0
go_n                  715
back_n                928
goback_n              715
group_site_sum         74
group_site_ave         74
unit_group_count        0
dtype: int64

In [7]:
print(train_tmp.order_id.count())
train_tmp = train_tmp.dropna()
print(train_tmp.order_id.count())

267317
266321

train有空值為996筆

In [9]:
#使用dummy variable, 將order_date_week_day, begin_date_weekday, source_1, source_2做one-hot encoding
train_w_dummy = pd.concat([train_tmp, pd.get_dummies(train_tmp['order_date_weekday'], prefix='order_date_weekday'),
               pd.get_dummies(train_tmp['begin_date_weekday'], prefix='begin_date_weekday'),
                       pd.get_dummies(train_tmp['source_1'], prefix='source_1'),
                       pd.get_dummies(train_tmp['source_2'], prefix='source_2')], axis=1)
train_w_dummy = train_w_dummy.drop(['order_date_weekday','begin_date_weekday','source_1','source_2'],1)

In [10]:
train_w_dummy.head()

,order_id,group_id,area,sub_line,deal_or_not,unit,people_amount,group_amount,group_days,group_price,...,begin_date_weekday_5,begin_date_weekday_6,begin_date_weekday_7,source_1_1,source_1_2,source_1_3,source_2_1,source_2_2,source_2_3,source_2_4
0,250107,35656,14,4,0,16,10,10,8,40900,...,0,0,1,0,1,0,0,0,1,0
1,191586,54054,91,11,0,88,3,34,5,31900,...,0,0,0,1,0,0,1,0,0,0
2,286259,16245,100,11,0,85,4,20,5,23900,...,1,0,0,1,0,0,1,0,0,0
3,160948,56838,99,11,0,50,2,3,5,23900,...,0,0,0,1,0,0,1,0,0,0
4,318725,46009,64,7,0,33,2,27,10,93900,...,0,0,1,1,0,0,1,0,0,0

In [11]:
#使用dummy variable, 將order_date_week_day, begin_date_weekday, source_1, source_2做one-hot encoding
test_w_dummy = pd.concat([test, pd.get_dummies(test['order_date_weekday'], prefix='order_date_weekday'),
               pd.get_dummies(test['begin_date_weekday'], prefix='begin_date_weekday'),
                       pd.get_dummies(test['source_1'], prefix='source_1'),
                       pd.get_dummies(test['source_2'], prefix='source_2')], axis=1)
test_w_dummy = test_w_dummy.drop(['order_date_weekday','begin_date_weekday','source_1','source_2'],1)

In [12]:
test_w_dummy

,order_id,group_id,area,sub_line,deal_or_not,unit,people_amount,group_amount,group_days,group_price,...,begin_date_weekday_5,begin_date_weekday_6,begin_date_weekday_7,source_1_1,source_1_2,source_1_3,source_2_1,source_2_2,source_2_3,source_2_4
0,100027,36733,99,11,0,61,3,18,5,38900,...,0,0,0,1,0,0,1,0,0,0
1,10003,24701,94,12,0,64,1,19,4,14888,...,1,0,0,1,0,0,1,0,0,0
2,100036,1832,133,20,0,42,6,43,10,51900,...,0,0,0,1,0,0,1,0,0,0
3,100049,25988,14,4,0,33,4,23,9,51900,...,0,0,1,1,0,0,1,0,0,0
4,100056,1416,91,11,0,22,4,24,5,31900,...,0,0,0,0,0,1,1,0,0,0
5,100057,55773,106,16,0,3,4,13,9,66800,...,0,0,0,0,1,0,1,0,0,0
6,100064,16,99,11,0,8,2,20,5,39900,...,0,0,0,0,1,0,0,0,1,0
7,100070,9209,93,12,0,6,2,2,5,14888,...,0,0,0,0,1,0,0,0,1,0
8,100079,58583,92,11,0,6,4,21,5,34900,...,1,0,0,0,1,0,0,0,1,0
9,100080,31891,97,11,0,6,1,11,8,44900,...,0,1,0,0,1,0,0,0,1,0
10,10010,53836,50,9,0,60,1,21,12,98900,...,0,0,0,1,0,0,1,0,0,0
11,10015,59813,100,11,0,3,3,18,5,36800,...,1,0,0,0,1,0,0,0,1,0
12,100151,38425,100,11,0,38,2,19,5,32900,...,0,0,1,1,0,0,1,0,0,0
13,100167,42513,99,11,0,40,5,2,5,29900,...,0,0,0,1,0,0,1,0,0,0
14,100177,31498,93,12,0,31,2,7,5,25900,...,0,0,1,1,0,0,1,0,0,0
15,100183,25620,17,5,0,17,4,15,5,34900,...,0,1,0,1,0,0,1,0,0,0
16,100188,61508,63,10,0,46,2,21,9,77900,...,0,1,0,1,0,0,1,0,0,0
17,100191,28108,92,11,0,92,5,11,5,36900,...,1,0,0,1,0,0,1,0,0,0
18,100195,12137,100,11,0,83,4,2,5,29900,...,0,0,0,1,0,0,1,0,0,0
19,100202,12190,107,16,0,3,3,9,7,50800,...,0,0,0,0,1,0,0,0,1,0
20,100216,49983,100,11,0,1,2,25,5,43900,...,1,0,0,1,0,0,1,0,0,0
21,100249,22516,92,11,0,27,2,23,5,38900,...,1,0,0,1,0,0,1,0,0,0
22,100253,2984,115,18,0,36,2,35,5,13999,...,0,0,1,1,0,0,1,0,0,0
23,100258,64709,74,7,0,61,2,43,10,55900,...,0,0,0,1,0,0,1,0,0,0
24,100287,22942,118,19,0,1,1,14,9,24900,...,0,1,0,1,0,0,1,0,0,0
25,100289,10881,91,11,0,48,1,45,5,28900,...,0,1,0,1,0,0,1,0,0,0
26,100300,3936,70,7,0,16,2,31,9,68900,...,0,0,0,0,1,0,1,0,0,0
27,100369,2271,92,11,0,61,1,25,5,34900,...,0,0,0,1,0,0,1,0,0,0
28,10037,51673,99,11,0,28,4,22,5,35900,...,0,0,0,1,0,0,1,0,0,0
29,1004,4424,49,9,0,8,4,44,9,59900,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29673,9913,51314,91,11,1,8,2,19,5,31900,...,0,0,1,1,0,0,1,0,0,0
29674,9917,67256,100,11,1,39,4,13,5,29900,...,1,0,0,1,0,0,0,0,0,1
29675,99188,26876,100,11,1,6,8,10,5,28900,...,0,0,0,0,1,0,0,0,1,0
29676,992,56581,133,20,1,61,2,22,12,131900,...,0,0,0,1,0,0,1,0,0,0
29677,99208,23994,64,7,1,6,2,27,10,94900,...,0,1,0,0,1,0,0,0,1,0
29678,99209,46256,132,22,1,6,1,24,10,32900,...,0,0,0,0,1,0,0,0,1,0
29679,99257,17412,31,5,1,57,7,24,8,19900,...,0,1,0,1,0,0,1,0,0,0
29680,99319,2639,118,19,1,6,5,22,5,25000,...,0,0,1,0,1,0,0,0,1,0
29681,99327,8985,133,20,1,6,2,27,10,64900,...,1,0,0,0,1,0,1,0,0,0
29682,99335,22173,98,11,1,8,2,12,5,37900,...,0,1,0,0,1,0,0,0,1,0
29683,99340,62718,97,11,1,1,3,14,6,39800,...,0,0,0,1,0,0,0,0,0,1
29684,99388,37868,107,16,1,6,5,12,8,39900,...,0,0,0,0,1,0,1,0,0,0
29685,99400,64227,96,13,1,39,2,22,4,21999,...,0,0,0,1,0,0,0,0,0,1
29686,99404,28895,132,22,1,16,2,24,10,41900,...,0,0,0,1,0,0,1,0,0,0
29687,99416,39838,49,9,1,27,5,15,12,104900,...,0,0,1,1,0,0,1,0,0,0
29688,99435,19037,100,11,1,60,2,27,5,35900,...,0,1,0,1,0,0,1,0,0,0
29689,99460,31023,106,16,1,10,3,30,9,72800,...,0,0,1,1,0,0,1,0,0,0
29690,99486,9059,92,11,1,66,5,15,5,29900,...,0,0,0,1,0,0,1,0,0,0
29691,99488,50327,17,5,1,10,1,19,8,19900,...,0,1,0,1,0,0,0,0,0,1
29692,99517,22578,93,12,1,2,7,28,5,18888,...,0,1,0,1,0,0,1,0,0,0
29693,99521,51739,100,11,1,18,4,24,5,36888,...,0,0,1,1,0,0,1,0,0,0
29694,99554,12525,96,13,1,61,4,14,4,21388,...,0,0,1,1,0,0,1,0,0,0
29695,996,60109,92,11,1,100,1,13,5,36900,...,0,0,0,0,1,0,1,0,0,0
29696,99698,66340,100,11,1,1,10,25,5,32900,...,0,0,0,1,0,0,1,0,0,0
29697,99720,61431,109,16,1,39,2,15,6,27800,...,0,0,0,1,0,0,1,0,0,0
29698,99749,62085,62,7,1,77,1,29,9,49900,...,0,0,1,0,1,0,1,0,0,0
29699,99764,58075,93,12,1,48,3,7,5,11888,...,1,0,0,1,0,0,1,0,0,0
29700,99815,13351,25,5,1,32,2,15,8,19900,...,0,1,0,1,0,0,1,0,0,0
29701,99866,48121,99,11,1,3,1,12,5,33900,...,1,0,0,0,1,0,1,0,0,0
29702,99922,67131,19,5,1,8,2,20,5,21900,...,1,0,0,0,1,0,0,0,1,0

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn import preprocessing, linear_model

In [14]:
#移除非特徵欄位，及已新增其他指標之類型欄位
X = train_w_dummy.drop(['order_id', 'group_id','deal_or_not','area','sub_line','unit'],1)

In [15]:
#取得label值
Y = train_w_dummy['deal_or_not']

In [16]:
#Random Forest Classfier 初始化
rfc = RandomForestClassifier(random_state=33, n_estimators=100,max_features='sqrt', min_samples_split = 1000, min_samples_leaf=333, max_depth=50)

In [17]:
#使用RFC進行 5 fold cross validation, 參考數據有accuracy,precision,recall,'roc_auc，並同時輸出train set的分數
train_score_rfc = cross_validate(rfc,X,Y,cv=5,scoring=['accuracy','precision','recall','roc_auc'], return_train_score = True)

In [18]:
#分數平均函式：計算cross validation後，各項分數的平均，並輸出一個score list
def mean_of_score(score):
        test_accuracy = score.get('test_accuracy')
        test_precision = score.get('test_precision')
        test_recall = score.get('test_recall')
        test_roc_auc = score.get('test_roc_auc')
        
        train_accuracy = score.get('train_accuracy')
        train_precision = score.get('train_precision')
        train_recall = score.get('train_recall')
        train_roc_auc = score.get('train_roc_auc')
        
        train_score_list = [test_accuracy.mean(),test_precision.mean(),test_recall.mean(),test_roc_auc.mean(), 
                    train_accuracy.mean(),train_precision.mean(),train_recall.mean(),train_roc_auc.mean()]
        return train_score_list

In [19]:
#計算rfc的cross validation後的score mean
train_score_rfc_mean = mean_of_score(train_score_rfc)

In [20]:
train_score_rfc_mean

[0.8160377852395782,
 0.9385835838095536,
 0.07354250324849708,
 0.7136317549509954,
 0.8161279058890265,
 0.9396777561287347,
 0.07393697492789113,
 0.7249219940282332]

In [21]:
xgbc=XGBClassifier(seed=33, n_estimators=100, max_depth=5, subsample=0.8, learning_rate=0.1, min_child_weight=1,)

In [22]:
#使用XGBoost進行 5 fold cross validation, 參考數據有accuracy,precision,recall,'roc_auc，並同時輸出train set的分數
train_score_xgbc = cross_validate(xgbc,X,Y,cv=5,scoring=['accuracy','precision','recall','roc_auc'], return_train_score = True)

In [23]:
train_score_xgbc_mean = mean_of_score(train_score_xgbc)

In [24]:
train_score_xgbc_mean

[0.8188088770990343,
 0.8502374496707468,
 0.10045808402203386,
 0.7257314059700193,
 0.8195232441501077,
 0.8624094157749915,
 0.10278184226844814,
 0.7376943503183397]

In [25]:
print(train_w_dummy[train_w_dummy['deal_or_not']==1].order_id.count())
print(train_w_dummy[train_w_dummy['deal_or_not']==0].order_id.count())

52609
213712

由於label_1:label_0的數量約為2:8
因此可能有imbalance的問題

故以下函式：cross_validate_with_sample
 - 以隨機抽樣的seed進行五次抽樣
 - 從train set的label_0抽取52609筆使 label_1:label_0 = 1:1
 - 進行cross validation
 - 最後取出各項指標的平均

In [26]:
def cross_validate_with_sample(model):
    test_accuracy = 0
    test_precision = 0
    test_recall = 0
    test_roc_auc = 0
    
    train_accuracy = 0
    train_precision = 0
    train_recall = 0
    train_roc_auc = 0
    
    for seed in range(10,15):
        train_sample = pd.concat([train_w_dummy[train_w_dummy['deal_or_not']==0].sample(n=52609, random_state=seed),train_w_dummy[train_w_dummy['deal_or_not']==1]])
        X_sample = train_sample.drop(['order_id', 'group_id','deal_or_not','area','sub_line','unit'],1)
        Y_sample = train_sample['deal_or_not']
        train_sample_score = cross_validate(model,X_sample,Y_sample,cv=5,scoring=['accuracy','precision','recall','roc_auc'], return_train_score = True)
        
        test_accuracy += train_sample_score.get('test_accuracy')
        test_precision += train_sample_score.get('test_precision')
        test_recall += train_sample_score.get('test_recall')
        test_roc_auc += train_sample_score.get('test_roc_auc')
        
        train_accuracy += train_sample_score.get('train_accuracy')
        train_precision += train_sample_score.get('train_precision')
        train_recall += train_sample_score.get('train_recall')
        train_roc_auc += train_sample_score.get('train_roc_auc')
        
        print(seed)
        print(train_sample_score)
    
    test_accuracy /=5
    test_precision /=5
    test_recall /=5
    test_roc_auc /=5
    train_accuracy /=5
    train_precision /=5
    train_recall /=5
    train_roc_auc /=5
    train_score_list = [test_accuracy.mean(),test_precision.mean(),test_recall.mean(),test_roc_auc.mean(), 
                        train_accuracy.mean(),train_precision.mean(),train_recall.mean(),train_roc_auc.mean()]
    return train_score_list

In [27]:
#計算RFC使用label平衡的訓練集，產生的cross validation的分數
train_sample_score_rfc = cross_validate_with_sample(rfc)

10
{'fit_time': array([4.60965776, 4.47757697, 4.43992209, 4.44340587, 4.50350904]), 'score_time': array([0.62351799, 0.63826013, 0.638237  , 0.62446904, 0.62164569]), 'test_accuracy': array([0.64160806, 0.63823418, 0.63813914, 0.63752138, 0.64466305]), 'train_accuracy': array([0.64786038, 0.64863259, 0.6487514 , 0.64801483, 0.64578977]), 'test_precision': array([0.62151362, 0.619192  , 0.62139815, 0.62173986, 0.62931181]), 'train_precision': array([0.62811908, 0.6297364 , 0.63021819, 0.63063857, 0.62913545]), 'test_recall': array([0.72429196, 0.71811443, 0.70708991, 0.70233796, 0.70402053]), 'train_recall': array([0.72490318, 0.72145793, 0.71991351, 0.71451992, 0.71027371]), 'test_roc_auc': array([0.71093909, 0.7028758 , 0.70344889, 0.70745421, 0.71434857]), 'train_roc_auc': array([0.7160644 , 0.7171183 , 0.71641279, 0.71736417, 0.71470785])}
11
{'fit_time': array([4.57870197, 4.51377201, 4.44140291, 4.51962399, 4.5468359 ]), 'score_time': array([0.62710595, 0.62485933, 0.62092209, 0.62748098, 0.62736201]), 'test_accuracy': array([0.64507698, 0.64127542, 0.63956472, 0.64137046, 0.64409277]), 'train_accuracy': array([0.65004633, 0.64854943, 0.65047402, 0.65052154, 0.64932998]), 'test_precision': array([0.62433819, 0.6231872 , 0.62181667, 0.623948  , 0.62549669]), 'train_precision': array([0.6289565 , 0.62970416, 0.63122125, 0.63199017, 0.62958763]), 'test_recall': array([0.72847367, 0.71469302, 0.71241209, 0.71165178, 0.71818268]), 'train_recall': array([0.73181743, 0.72119657, 0.72383396, 0.72072136, 0.72550371]), 'test_roc_auc': array([0.71141852, 0.70948342, 0.70530311, 0.70911134, 0.70940506]), 'train_roc_auc': array([0.71768318, 0.71652805, 0.71862156, 0.71806247, 0.71743862])}
12
{'fit_time': array([4.53904724, 4.55856013, 4.46257591, 4.51585317, 4.46945405]), 'score_time': array([0.6314528 , 0.62420678, 0.62274599, 0.63268185, 0.62069893]), 'test_accuracy': array([0.63908953, 0.63923209, 0.64754799, 0.64042007, 0.64689668]), 'train_accuracy': array([0.64982061, 0.64980873, 0.64938104, 0.65012949, 0.64845086]), 'test_precision': array([0.62112058, 0.62115448, 0.63047315, 0.62479939, 0.62794933]), 'train_precision': array([0.63172408, 0.63094496, 0.63000414, 0.63365981, 0.62868677]), 'test_recall': array([0.71326744, 0.71383767, 0.71298232, 0.70300323, 0.72093907]), 'train_recall': array([0.71851165, 0.7218381 , 0.72390524, 0.71173997, 0.72524235]), 'test_roc_auc': array([0.70948048, 0.70652443, 0.71059007, 0.70632381, 0.7133708 ]), 'train_roc_auc': array([0.71720469, 0.71794482, 0.71766751, 0.71858788, 0.71716908])}
13
{'fit_time': array([4.45274496, 4.46269584, 4.60263014, 4.50536203, 4.42034507]), 'score_time': array([0.62275624, 0.65687609, 0.62387204, 0.62366605, 0.62255692]), 'test_accuracy': array([0.64137046, 0.64075271, 0.64103783, 0.64526706, 0.64081361]), 'train_accuracy': array([0.64853755, 0.6506047 , 0.65160263, 0.65045026, 0.65228806]), 'test_precision': array([0.62425863, 0.62345782, 0.62420489, 0.62880256, 0.62273217]), 'train_precision': array([0.63108893, 0.63188448, 0.63283023, 0.63260733, 0.6340535 ]), 'test_recall': array([0.71022619, 0.71079643, 0.70880061, 0.70918076, 0.71447581]), 'train_recall': array([0.71509017, 0.72157673, 0.72226578, 0.71772756, 0.72030032]), 'test_roc_auc': array([0.71023883, 0.70837764, 0.70866704, 0.71106277, 0.70978415]), 'train_roc_auc': array([0.7165737 , 0.71919085, 0.71909501, 0.71931578, 0.71913599])}
14
{'fit_time': array([4.50354004, 4.64110518, 4.58316898, 4.50347495, 4.45556974]), 'score_time': array([0.62109423, 0.73670292, 0.62700415, 0.62327194, 0.62482619]), 'test_accuracy': array([0.64545714, 0.6414655 , 0.63861433, 0.6412279 , 0.64128885]), 'train_accuracy': array([0.64831183, 0.64831183, 0.64900088, 0.64925036, 0.6487835 ]), 'test_precision': array([0.62554343, 0.62217845, 0.62096707, 0.62319682, 0.621456  ]), 'train_precision': array([0.62776322, 0.62867981, 0.63017936, 0.62991458, 0.62803108]), 'test_recall': array([0.72476715, 0.72039536, 0.71155674, 0.71440791, 0.72293508]), 'train_recall': array([0.72872859, 0.72459429, 0.72129161, 0.72366764, 0.72982798]), 'test_roc_auc': array([0.71262228, 0.70753585, 0.70604017, 0.7095325 , 0.70960326]), 'train_roc_auc': array([0.71711823, 0.71692381, 0.71855688, 0.71818217, 0.71850016])}

In [28]:
train_sample_score_rfc

[0.6416811167267297,
 0.623769478987717,
 0.7141135926750783,
 0.708941683280651,
 0.6493081049804659,
 0.630454386665926,
 0.7216179712043427,
 0.7176467181459172]

In [29]:
train_sample_score_xgbc = cross_validate_with_sample(xgbc)

10
{'fit_time': array([15.90628529, 19.34959006, 18.80607891, 17.01021194, 16.72273207]), 'score_time': array([0.36003184, 0.43947887, 0.39910007, 0.37777305, 0.36888909]), 'test_accuracy': array([0.65253754, 0.64911614, 0.64640753, 0.64849838, 0.65321737]), 'train_accuracy': array([0.66551429, 0.66614394, 0.66509849, 0.66596574, 0.66486885]), 'test_precision': array([0.63194673, 0.62864874, 0.62933423, 0.63082977, 0.63507625]), 'train_precision': array([0.64381865, 0.64515392, 0.64521725, 0.64611137, 0.64421998]), 'test_recall': array([0.73056453, 0.72866375, 0.71241209, 0.71602357, 0.72036879]), 'train_recall': array([0.74094138, 0.73844655, 0.73355193, 0.73390833, 0.73645695]), 'test_roc_auc': array([0.72736675, 0.72230678, 0.71972573, 0.72231545, 0.72955429]), 'train_roc_auc': array([0.74399697, 0.74403992, 0.74418183, 0.74479082, 0.74357006])}
11
{'fit_time': array([17.89789081, 15.96788502, 16.08510804, 16.6388731 , 17.8013339 ]), 'score_time': array([0.37784815, 0.36561084, 0.36186504, 0.39887214, 0.36078   ]), 'test_accuracy': array([0.65643414, 0.65572135, 0.64963885, 0.65225242, 0.65530843]), 'train_accuracy': array([0.66825861, 0.667724  , 0.66822297, 0.66885261, 0.6671973 ]), 'test_precision': array([0.63565189, 0.6370327 , 0.63245562, 0.63285785, 0.63714957]), 'train_precision': array([0.64674555, 0.64697676, 0.64897736, 0.6477105 , 0.64739025]), 'test_recall': array([0.73303554, 0.7239118 , 0.71450295, 0.72524235, 0.72150936]), 'train_recall': array([0.74155915, 0.73830399, 0.73281536, 0.74041866, 0.73438985]), 'test_roc_auc': array([0.72770245, 0.73152064, 0.72363018, 0.72530555, 0.72628055]), 'train_roc_auc': array([0.74604748, 0.74534124, 0.74606655, 0.74807072, 0.74617409])}
12
{'fit_time': array([16.74257517, 17.16622972, 16.38851118, 16.31375003, 17.10810685]), 'score_time': array([0.36079478, 0.37476301, 0.36729908, 0.37072897, 0.37693501]), 'test_accuracy': array([0.64935374, 0.64797567, 0.65690933, 0.65125451, 0.65321737]), 'train_accuracy': array([0.66827049, 0.66749828, 0.66677359, 0.66836553, 0.66598555]), 'test_precision': array([0.62907598, 0.62867769, 0.63930138, 0.63287969, 0.63550773]), 'train_precision': array([0.64669815, 0.64697788, 0.6457252 , 0.64808158, 0.64522701]), 'test_recall': array([0.72790344, 0.72296141, 0.72011025, 0.72039536, 0.71856287]), 'train_recall': array([0.74179675, 0.73730606, 0.73899304, 0.73685461, 0.73745486]), 'test_roc_auc': array([0.72471165, 0.72229611, 0.72600461, 0.72017356, 0.72869233]), 'train_roc_auc': array([0.7447331 , 0.74541926, 0.74395377, 0.74608392, 0.74465944])}
13
{'fit_time': array([16.90616274, 16.29961324, 16.60990405, 16.46460223, 17.09528208]), 'score_time': array([0.36015224, 0.37180901, 0.36572409, 0.36408281, 0.35384703]), 'test_accuracy': array([0.65386809, 0.65443832, 0.65035164, 0.65144459, 0.65383519]), 'train_accuracy': array([0.66672607, 0.66696367, 0.6675458 , 0.6662865 , 0.6676131 ]), 'test_precision': array([0.63351476, 0.6376652 , 0.63327717, 0.63311336, 0.63495372]), 'train_precision': array([0.64516529, 0.64876995, 0.6478023 , 0.64520613, 0.64788998]), 'test_recall': array([0.73008934, 0.7153583 , 0.71440791, 0.72030032, 0.72379051]), 'train_recall': array([0.7409889 , 0.72811082, 0.73433602, 0.73887424, 0.73429481]), 'test_roc_auc': array([0.72969477, 0.72658636, 0.72411823, 0.72461265, 0.72617751]), 'train_roc_auc': array([0.74495366, 0.74602395, 0.74687461, 0.74601708, 0.74651904])}
14
{'fit_time': array([16.12096906, 15.64739203, 15.53194499, 15.60012197, 15.62441015]), 'score_time': array([0.3571949 , 0.36533618, 0.37423587, 0.36528492, 0.3589468 ]), 'test_accuracy': array([0.65524615, 0.65329785, 0.64968637, 0.65301274, 0.64936793]), 'train_accuracy': array([0.66547865, 0.66863877, 0.66911398, 0.66745076, 0.66849221]), 'test_precision': array([0.63463282, 0.63260441, 0.63157895, 0.63430097, 0.62997271]), 'train_precision': array([0.64353579, 0.64619853, 0.64826581, 0.64572693, 0.64660644]), 'test_recall': array([0.73180004, 0.73132484, 0.71849458, 0.7226763 , 0.72398061]), 'train_recall': array([0.74191556, 0.74538456, 0.73942072, 0.74198684, 0.74313343]), 'test_roc_auc': array([0.72909668, 0.72801649, 0.72194704, 0.72589578, 0.72447709]), 'train_roc_auc': array([0.74486091, 0.74511855, 0.74607921, 0.74550603, 0.74678255])}

In [30]:
#計算XGBC使用label平衡的訓練集，產生的cross validation的分數
train_sample_score_xgbc

[0.6520956660189998,
 0.6332815952487975,
 0.7227356328156136,
 0.7255283697293583,
 0.6671619890636021,
 0.6464079425436641,
 0.738065734568965,
 0.7454345908459967]

In [31]:
#以RFC做單次training/testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, random_state = 33)

from sklearn.metrics import confusion_matrix
rfc.fit(x_train,y_train)

print('RandomForest Accuracy on test set', rfc.score(x_test, y_test))
rfc.predict(x_test)
confusion_matrix(y_test,rfc.predict(x_test))

RandomForest Accuracy on test set 0.814531117994931

array([[42641,    37],
       [ 9842,   745]])

In [32]:
#從RFC結果取得Feature Importance
feature_importance_rf = pd.DataFrame()
feature_importance_rf['feature'] = x_train.columns
feature_importance_rf['importance'] = rfc.feature_importances_

In [33]:
feature_importance_rf.sort_values(by='importance', ascending=False)

                 feature  importance
5          wait_duration    0.162506
1           group_amount    0.152485
4       group_order_heat    0.150360
0          people_amount    0.129683
15      unit_group_count    0.088243
30            source_1_1    0.068928
31            source_1_2    0.054170
33            source_2_1    0.037864
36            source_2_4    0.036542
32            source_1_3    0.024428
35            source_2_3    0.017490
3            group_price    0.016718
9              area_heat    0.012432
14        group_site_ave    0.008426
8          sub_line_heat    0.008109
2             group_days    0.006810
13        group_site_sum    0.006672
6     order_date_weekend    0.004565
34            source_2_2    0.002895
22  order_date_weekday_7    0.001560
7     begin_date_weekend    0.000993
19  order_date_weekday_4    0.000957
21  order_date_weekday_6    0.000764
16  order_date_weekday_1    0.000688
20  order_date_weekday_5    0.000648
28  begin_date_weekday_6    0.000628
18  order_date_weekday_3    0.000605
27  begin_date_weekday_5    0.000596
17  order_date_weekday_2    0.000520
26  begin_date_weekday_4    0.000441
23  begin_date_weekday_1    0.000425
29  begin_date_weekday_7    0.000412
25  begin_date_weekday_3    0.000357
12              goback_n    0.000310
11                back_n    0.000277
10                  go_n    0.000254
24  begin_date_weekday_2    0.000238

In [34]:
feature_importance_rf.sort_values(by='importance', ascending=False).to_csv('feature_importance_rfc.csv', 
                                                                           sep=',', encoding='utf8', index=False)

In [35]:
#以RFC做單次training/testing
xgbc.fit(x_train,y_train)
xgbc.score(x_test,y_test)

0.8175725147845677

In [36]:
feature_importance_xgbc = pd.DataFrame()
feature_importance_xgbc['feature'] = x_train.columns
feature_importance_xgbc['importance'] = xgbc.feature_importances_
feature_importance_xgbc.sort_values(by='importance', ascending=False)

                 feature  importance
5          wait_duration    0.151691
0          people_amount    0.147933
1           group_amount    0.124018
3            group_price    0.074821
9              area_heat    0.066963
14        group_site_ave    0.061496
15      unit_group_count    0.055688
13        group_site_sum    0.050905
8          sub_line_heat    0.040998
2             group_days    0.039631
33            source_2_1    0.024940
30            source_1_1    0.023574
31            source_1_2    0.021182
36            source_2_4    0.016741
32            source_1_3    0.013666
35            source_2_3    0.011616
6     order_date_weekend    0.007858
34            source_2_2    0.007175
19  order_date_weekday_4    0.005808
20  order_date_weekday_5    0.005466
22  order_date_weekday_7    0.005125
16  order_date_weekday_1    0.004783
26  begin_date_weekday_4    0.004783
27  begin_date_weekday_5    0.004441
29  begin_date_weekday_7    0.004100
28  begin_date_weekday_6    0.004100
25  begin_date_weekday_3    0.003758
21  order_date_weekday_6    0.003075
23  begin_date_weekday_1    0.002733
18  order_date_weekday_3    0.002392
24  begin_date_weekday_2    0.002392
7     begin_date_weekend    0.001708
17  order_date_weekday_2    0.001708
12              goback_n    0.001367
10                  go_n    0.001025
11                back_n    0.000342
4       group_order_heat    0.000000

In [37]:
feature_importance_xgbc.sort_values(by='importance', ascending=False).to_csv('feature_importance_xgbc.csv', 
                                                                           sep=',', encoding='utf8', index=False)

In [38]:
#取得Testing所需的X及Y
X_test = test_w_dummy.drop(['order_id', 'group_id','deal_or_not','area','sub_line','unit'],1)
Y_test = test_w_dummy['deal_or_not']

In [39]:
import sklearn.metrics as metrics

In [40]:
#以完整training set進行RFC的Training，之後預測Testing Set的label，並印出各項指標
rfc.fit(X,Y)
Y_test_rfc_pred = rfc.predict(X_test)
print('RFC Accuracy', metrics.accuracy_score(Y_test, Y_test_rfc_pred))
print('RFC Precision', metrics.precision_score(Y_test, Y_test_rfc_pred))
print('RFC Recall', metrics.recall_score(Y_test,Y_test_rfc_pred))
print('RFC AUC', metrics.roc_auc_score(Y_test,Y_test_rfc_pred))

RFC Accuracy 0.8173957101840905
RFC Precision 0.9252873563218391
RFC Recall 0.08256410256410257
RFC AUC 0.5404611714672755

In [47]:
#以完整training set進行XGBC的Training，之後預測Testing Set的label，並印出各項指標
xgbc.fit(X,Y)
Y_test_xgbc_pred = xgbc.predict(X_test)
print('XGBC Accuracy', metrics.accuracy_score(Y_test, Y_test_xgbc_pred))
print('XGBC Precision', metrics.precision_score(Y_test, Y_test_xgbc_pred))
print('XGBC Recall', metrics.recall_score(Y_test,Y_test_xgbc_pred))
print('XGBC AUC', metrics.roc_auc_score(Y_test,Y_test_xgbc_pred))

XGBC Accuracy 0.8193210606316501
XGBC Precision 0.8513323983169705
XGBC Recall 0.10376068376068376
XGBC AUC 0.549649232640182

因上面兩個模型AUC皆較差，且從Precision, Recall可看出可能是因imbalanced data的問題
，故以下將嘗試以label比例平衡的data進行預測

In [43]:
train_sample = pd.concat([train_w_dummy[train_w_dummy['deal_or_not']==0].sample(n=52609, random_state=33),train_w_dummy[train_w_dummy['deal_or_not']==1]])

In [44]:
train_sample

,order_id,group_id,area,sub_line,deal_or_not,unit,people_amount,group_amount,group_days,group_price,...,begin_date_weekday_5,begin_date_weekday_6,begin_date_weekday_7,source_1_1,source_1_2,source_1_3,source_2_1,source_2_2,source_2_3,source_2_4
54410,43126,56642,48,9,0,1,4,14,10,70900,...,0,1,0,1,0,0,1,0,0,0
1095,308140,7873,101,11,0,88,10,24,6,41900,...,1,0,0,1,0,0,1,0,0,0
122375,100625,91,40,5,0,6,5,2,8,19900,...,0,0,0,0,1,0,0,0,1,0
79656,174377,55351,24,5,0,6,2,23,8,19900,...,0,0,0,0,1,0,0,0,1,0
65544,88822,41121,100,11,0,83,2,18,6,39900,...,0,1,0,1,0,0,1,0,0,0
131586,283721,24112,100,11,0,3,3,29,5,43800,...,0,0,0,1,0,0,1,0,0,0
164997,242600,63904,70,7,0,6,1,40,9,71900,...,0,0,0,0,1,0,1,0,0,0
144841,212796,39909,101,11,0,2,2,8,4,23900,...,1,0,0,1,0,0,1,0,0,0
23838,220502,43242,44,8,0,33,7,7,12,120900,...,0,1,0,1,0,0,1,0,0,0
56268,44479,31413,14,4,0,62,1,39,10,72900,...,1,0,0,1,0,0,1,0,0,0
98787,78023,16552,93,12,0,26,4,10,5,10888,...,0,0,0,1,0,0,1,0,0,0
147782,14071,39029,100,11,0,42,2,2,5,33800,...,0,1,0,1,0,0,1,0,0,0
192589,259832,67546,92,11,0,6,2,33,5,34900,...,0,0,0,0,1,0,1,0,0,0
206678,175028,17524,20,5,0,24,2,1,6,14900,...,0,0,0,1,0,0,1,0,0,0
4550,120609,44514,118,19,0,17,12,3,5,22300,...,0,1,0,1,0,0,1,0,0,0
44636,120922,65010,133,20,0,6,4,17,10,64900,...,0,0,0,0,1,0,1,0,0,0
36092,3869,59707,93,12,0,21,2,1,5,20900,...,0,0,0,1,0,0,1,0,0,0
48572,282708,12389,17,5,0,3,5,22,8,29900,...,1,0,0,1,0,0,1,0,0,0
78184,31968,52558,70,7,0,39,2,3,9,49900,...,0,0,0,1,0,0,1,0,0,0
188713,280933,8518,24,5,0,1,2,16,5,21900,...,0,0,0,1,0,0,1,0,0,0
191971,16879,13865,97,11,0,6,2,11,5,35900,...,0,1,0,0,1,0,0,1,0,0
189200,28809,17475,99,11,0,1,3,21,5,34900,...,0,0,0,1,0,0,1,0,0,0
64798,319125,60179,120,15,0,6,4,2,5,22900,...,0,0,1,0,1,0,1,0,0,0
133822,43361,33912,98,11,0,86,4,2,5,29999,...,1,0,0,1,0,0,1,0,0,0
183655,37923,5111,92,11,0,73,2,21,5,33900,...,0,0,0,1,0,0,1,0,0,0
211343,110321,48566,92,11,0,8,4,2,5,40900,...,0,0,0,0,1,0,1,0,0,0
26630,218699,37195,92,11,0,14,2,8,5,34800,...,0,1,0,1,0,0,1,0,0,0
188532,240416,25252,99,11,0,46,2,33,5,25900,...,0,1,0,1,0,0,1,0,0,0
100664,150868,11485,92,11,0,11,2,20,6,29900,...,0,0,0,1,0,0,1,0,0,0
54201,304205,35627,96,13,0,92,6,5,4,23888,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267287,116350,24093,92,11,1,92,4,14,5,29900,...,0,0,1,1,0,0,1,0,0,0
267288,102155,29810,70,7,1,10,9,24,9,58900,...,1,0,0,1,0,0,1,0,0,0
267289,187112,32256,118,19,1,79,4,18,7,18999,...,0,1,0,1,0,0,1,0,0,0
267290,81358,23252,133,20,1,54,2,24,10,62900,...,0,0,0,1,0,0,1,0,0,0
267291,173633,43712,100,11,1,45,2,16,5,37900,...,0,0,0,1,0,0,1,0,0,0
267292,21180,48544,93,12,1,1,8,9,5,20888,...,0,0,0,1,0,0,1,0,0,0
267293,44462,65129,92,11,1,16,2,18,5,36900,...,1,0,0,1,0,0,0,0,0,1
267294,199611,43130,50,9,1,3,4,25,10,62900,...,0,0,0,0,1,0,0,0,1,0
267295,100896,36952,115,18,1,31,2,6,6,37900,...,0,0,0,1,0,0,1,0,0,0
267296,99292,8268,93,12,1,14,4,9,5,20388,...,0,0,0,1,0,0,1,0,0,0
267297,135438,51318,86,7,1,1,7,9,8,42900,...,0,0,1,1,0,0,1,0,0,0
267298,28725,51898,50,9,1,1,1,50,10,63900,...,0,0,0,1,0,0,0,0,0,1
267299,76439,28299,19,5,1,16,6,12,4,19900,...,0,0,0,0,1,0,0,0,1,0
267300,145307,52068,132,22,1,6,2,49,11,38900,...,0,1,0,0,1,0,0,0,1,0
267301,20620,29601,100,11,1,55,2,27,5,33900,...,0,0,0,0,0,1,1,0,0,0
267302,137089,21446,36,6,1,49,5,5,4,11800,...,0,0,1,1,0,0,1,0,0,0
267303,184372,59994,96,13,1,100,1,17,4,29900,...,0,1,0,0,1,0,1,0,0,0
267304,95219,57780,49,9,1,49,1,42,10,78900,...,1,0,0,1,0,0,1,0,0,0
267305,57132,7449,40,5,1,1,7,27,6,24900,...,0,0,1,1,0,0,1,0,0,0
267306,120805,11427,93,12,1,53,3,13,5,17388,...,1,0,0,0,1,0,0,0,1,0
267307,146779,31615,99,11,1,63,3,10,5,28900,...,0,0,0,1,0,0,1,0,0,0
267308,142758,45165,100,11,1,75,2,11,5,30900,...,1,0,0,0,0,1,1,0,0,0
267309,163018,22146,115,18,1,93,2,14,5,18900,...,0,0,1,1,0,0,1,0,0,0
267310,161927,2664,24,5,1,104,1,16,8,19900,...,0,0,0,0,1,0,1,0,0,0
267311,110427,10170,2,1,1,65,2,17,10,86900,...,0,1,0,1,0,0,1,0,0,0
267312,198917,49640,108,16,1,13,2,12,7,38800,...,0,0,1,1,0,0,1,0,0,0
267313,118180,29988,106,16,1,48,2,19,10,67800,...,1,0,0,1,0,0,1,0,0,0
267314,23565,44774,92,11,1,64,4,31,5,29900,...,1,0,0,1,0,0,1,0,0,0
267315,161317,36151,25,5,1,1,1,17,8,19900,...,0,1,0,1,0,0,1,0,0,0
267316,61632,57613,94,12,1,20,1,25,5,9388,...,1,0,0,1,0,0,1,0,0,0

In [45]:
X_sample = train_sample.drop(['order_id', 'group_id','deal_or_not','area','sub_line','unit'],1)
Y_sample = train_sample['deal_or_not']

In [46]:
#以label平衡的training set進行RFC的Training，之後預測Testing Set的label，並印出各項指標
rfc.fit(X_sample,Y_sample)
Y_test_sample_rfc_pred = rfc.predict(X_test)
print('RFC Accuracy', metrics.accuracy_score(Y_test, Y_test_sample_rfc_pred))
print('RFC Precision', metrics.precision_score(Y_test, Y_test_sample_rfc_pred))
print('RFC Recall', metrics.recall_score(Y_test,Y_test_sample_rfc_pred))
print('RFC AUC', metrics.roc_auc_score(Y_test,Y_test_sample_rfc_pred))

RFC Accuracy 0.5972639756797838
RFC Precision 0.29146349838609986
RFC Recall 0.7254700854700855
RFC AUC 0.6455807594262657

In [49]:
#以label平衡的training set進行XGBC的Training，之後預測Testing Set的label，並印出各項指標
xgbc.fit(X_sample,Y_sample)
Y_test_sample_xgbc_pred = xgbc.predict(X_test)
print('XGBC Accuracy', metrics.accuracy_score(Y_test, Y_test_sample_xgbc_pred))
print('XGBC Precision', metrics.precision_score(Y_test, Y_test_sample_xgbc_pred))
print('XGBC Recall', metrics.recall_score(Y_test,Y_test_sample_xgbc_pred))
print('XGBC AUC', metrics.roc_auc_score(Y_test,Y_test_sample_xgbc_pred))

XGBC Accuracy 0.6109103192028373
XGBC Precision 0.3005137588852136
XGBC Recall 0.7299145299145299
XGBC AUC 0.6557592013916999

嘗試以複製label_1的data來達到label平衡的data

In [50]:
train_sample_duplicate = pd.concat([train_w_dummy[train_w_dummy['deal_or_not']==0],
                             train_w_dummy[train_w_dummy['deal_or_not']==1],
                             train_w_dummy[train_w_dummy['deal_or_not']==1],
                             train_w_dummy[train_w_dummy['deal_or_not']==1],
                             train_w_dummy[train_w_dummy['deal_or_not']==1]])

In [51]:
X_sample_dup = train_sample_duplicate.drop(['order_id', 'group_id','deal_or_not','area','sub_line','unit'],1)
Y_sample_dup = train_sample_duplicate['deal_or_not']

In [52]:
#以label平衡的training set進行RFC的Training，之後預測Testing Set的label，並印出各項指標
rfc.fit(X_sample_dup,Y_sample_dup)
Y_test_sample_dup_rfc_pred = rfc.predict(X_test)
print('RFC Accuracy', metrics.accuracy_score(Y_test, Y_test_sample_dup_rfc_pred))
print('RFC Precision', metrics.precision_score(Y_test, Y_test_sample_dup_rfc_pred))
print('RFC Recall', metrics.recall_score(Y_test,Y_test_sample_dup_rfc_pred))
print('RFC AUC', metrics.roc_auc_score(Y_test,Y_test_sample_dup_rfc_pred))

RFC Accuracy 0.6286100320891741
RFC Precision 0.30536430354846034
RFC Recall 0.68991452991453
RFC AUC 0.6517137372788815

In [54]:
#以label平衡的training set進行XGBC的Training，之後預測Testing Set的label，並印出各項指標
xgbc.fit(X_sample_dup,Y_sample_dup)
Y_test_sample_dup_xgbc_pred = xgbc.predict(X_test)
print('XGBC Accuracy', metrics.accuracy_score(Y_test, Y_test_sample_dup_xgbc_pred))
print('XGBC Precision', metrics.precision_score(Y_test, Y_test_sample_dup_xgbc_pred))
print('XGBC Recall', metrics.recall_score(Y_test,Y_test_sample_dup_xgbc_pred))
print('XGBC AUC', metrics.roc_auc_score(Y_test,Y_test_sample_dup_xgbc_pred))

XGBC Accuracy 0.6219219726397568
XGBC Precision 0.3063147973609802
XGBC Recall 0.7222222222222222
XGBC AUC 0.6597219298861058

In [55]:
#build null model,猜測label為較大比例的label，因此猜測結果為label_0
Y_test_null = [0]*len(Y_test)
print('Null Model Accuracy', metrics.accuracy_score(Y_test, Y_test_null))
print('Null Model Precision', metrics.precision_score(Y_test, Y_test_null))
print('Null Model Recall', metrics.recall_score(Y_test,Y_test_null))
print('Null Model AUC', metrics.roc_auc_score(Y_test,Y_test_null))

Null Model Accuracy 0.8023982435399426
Null Model Precision 0.0
Null Model Recall 0.0
Null Model AUC 0.5

/Users/siang/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)